/* estilos de menu drop */
.offcanvas-body {
  background-color: #cc9227;
  color: #fdfdfd;
}

.carrito {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  background-color: transparent;
  width: 4rem;
  height: auto;
}
